.top_div{
	color: #0000FF;
	text-align: center;
	text-decoration: underline;
	text-decoration: overline;
	background-color: #DCDCDC;
}
.imagem{

	margin: 0 auto;
	padding: 0 auto;
	width: 1001px;
	height: 320px;
	text-align: center;

}
